<h1><%= @todo.title %></h1>
<p>完了: <%= @todo.completed ? 'はい' : 'いいえ' %></p>

<%= link_to '戻る', todos_path %>
<%= link_to '編集', edit_todo_path(@todo) %>
<%= link_to '削除', @todo, method: :delete, data: { confirm: '本当に削除しますか?' } %>
